

body {
font-family: 'Raleway', sans-serif;
}
.main{
width: 1015px;
position: absolute;
top: 10%;
left: 20%;
}
#form_head{
text-align: center;
background-color: #FEFFED;
height: 66px;
margin: 0 0 -29px 0;
padding-top: 35px;
border-radius: 8px 8px 0 0;
color: rgb(97, 94, 94);
}
#content {
position: absolute;
width: 481px;
height: 540px;
border: 2px solid gray;
border-radius: 10px;
margin-top: -40px;
margin-left: -60px;
}
#form_input{
margin-left: 30px;
margin-top: 36px;
}
label{
margin-right: 6px;
padding-bottom: 10px;
}
#form_button{
padding: 0 0px 15px 0px;
position: absolute;
bottom: 0px;
width: 481px;
background-color: #FEFFED;
border-radius: 0px 0px 8px 8px;
border-top: 1px solid #9A9A9A;
left: 0px;
}
#submit{
font-size: 16px;
background: linear-gradient(#ffbc00 5%, #ffdd7f 100%);
border: 1px solid #e5a900;
color: #4E4D4B;
font-weight: bold;
cursor: pointer;
width: 300px;
border-radius: 5px;
padding: 10px 0;
outline: none;
margin-top: 20px;
margin-left: 18%;
}
.submit:hover{
background: linear-gradient(#ffdd7f 5%, #ffbc00 100%);
}
.dropdown_box{
font-family: 'Raleway', sans-serif;
font-size: 16px;
height:40px;
width:422px;
border-radius:3px;
background-color:#FEFFED;
}
.input_box{
font-family: 'Raleway', sans-serif;
font-size: 16px;
height:40px;
width:422px;
padding:5px;
border-radius:3px;
background-color:#FEFFED;
margin-top: 5px;
border:1px solid #A9A9A9;
}
textarea{
background-color:#FEFFED;
font-family: 'Raleway', sans-serif;
font-size: 16px;
margin-top: 5px;
padding:5px;
}
#lang{
font-family: 'Raleway', sans-serif;
font-size: 16px;
height:25px;
width:100px;
}

